			</div>
		</main>

		<footer class="container container-large">
			<hr class="margin-bottom">
			{{ partial "nav-secondary.html" }}
			<p class="text-small">Made with ❤️ in Massachusetts. Copyright {{ now.Format "2006"}} <a href="https://gomakethings.com">Chris Ferdinandi and Go Make Things, LLC</a>. All rights reserved.</p>
		</footer>

		<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
		<script>
			{{ if eq $.Site.Params.minify true }}{{ readFile "/themes/fetch-theme/static/js/main.min.js" | safeJS }}{{ else }}{{ readFile "/themes/fetch-theme/static/js/main.js" | safeJS }}{{ end }}
		</script>
	</body>
</html>