			</div>
		</main>

		<footer class="container container-large">
			<hr class="margin-bottom">
			{{ partial "nav-secondary.html" }}
			<p class="text-small">Made with ❤️ in Massachusetts. Copyright {{ now.Format "2006"}} <a href="https://gomakethings.com">Chris Ferdinandi and Go Make Things, LLC</a>. All rights reserved.</p>
		</footer>

		<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
		<script src='{{ if eq $.Site.Params.cacheBust true }}{{ ( printf "/js/main.min.%s.js" $.Site.Params.version | absURL ) }}{{ else }}{{ "/js/main.js" | absURL }}{{ end }}'></script>
	</body>
</html>