<header class="margin-bottom">
	<nav class="nav-wrap">
		<div class="container container-large">
			<a class="logo" href="{{ .Site.BaseURL }}">
				{{ .Site.Title }}
			</a>
			<div class="nav-menu" id="nav-menu">
				<ul class="nav">
					{{ partial "nav-items.html" . }}
				</ul>
			</div>
		</div>
	</nav>
	{{ if .Params.isDemo }}
	<div class="bg-muted padding-top-small padding-bottom-small">
		<div class="container container-large">
			<ul class="list-inline no-margin-bottom">
				<li>{{ if eq .URL "/demos/" }}<strong>Out-of-the-Box</strong>{{ else }}<a class="link-no-underline" href="/demos">Out-of-the-Box</a>{{ end }}</li><li>{{ if eq .URL "/hiding-the-filters/" }}<strong>Hiding the Filters</strong>{{ else }}<a class="link-no-underline" href="/hiding-the-filters">Hiding the Filters</a>{{ end }}</li><li>{{ if eq .URL "/narrower-page/" }}<strong>Narrower Page</strong>{{ else }}<a class="link-no-underline" href="/narrower-page">Narrower Page</a>{{ end }}</li><li>{{ if eq .URL "/new-tab/" }}<strong>Opening a New Window</strong>{{ else }}<a class="link-no-underline" href="/new-tab">Opening a New Window</a>{{ end }}</li><li>{{ if eq .URL "/limit-pets/" }}<strong>Limit Pets</strong>{{ else }}<a class="link-no-underline" href="/limit-pets">Limit Pets</a>{{ end }}</li><li>{{ if eq .URL "/adopted/" }}<strong>Adopted Pets</strong>{{ else }}<a class="link-no-underline" href="/adopted">Adopted Pets</a>{{ end }}</li>
			</ul>
		</div>
	</div>
	{{ end }}
</header>